<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="APPConnectionString" connectionString="rcJv26dfOaz4N+gq9TaxvDtH7hXSI60pIYqFMmKNrjpBMFaWXphrGlYxrsvMQ/Q2mpxn57HvvxYQ0D6ZXWnBcfg9/xaZESCwhaIXlW8tRjs=" providerName="System.Data.SqlClient" />
    <add name="RPTConnectionString" connectionString="Data Source=localhost\SQL2008;Initial Catalog=OOP;User ID=sa;" providerName="System.Data.SqlClient" />
    <add name="Payroll.My.MySettings.Payroll_NEWConnectionString" connectionString="Data Source=CI-SRV2\Set3;Initial Catalog=Payroll_NEW;User ID=sa;Password=system" providerName="System.Data.SqlClient" />
    <add name="Payroll.My.MySettings.Payroll_NEWConnectionString1" connectionString="Data Source=PLE-NB-PC\SQL2008;Initial Catalog=Payroll_NEW;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="payroll_Connection" connectionString="XpoProvider=MSSqlServer;data source=103.13.228.135\MSSQLSRV;user id=sa;password=Syst3m;initial catalog=RFIDLotus;Persist Security Info=true" />
  </connectionStrings>
  <appSettings>
    <!--<add key="DefaultCulture" value="en-US" />-->
    <!--<add key="DefaultCulture" value="ja" />-->
    <!--<add key="ServerName" value="10.0.0.232\srv1"/>-->
    <add key="ServerName" value="103.13.228.135\MSSQLSRV" />
    <add key="DatabaseName" value="RFIDLotus" />
    <add key="Username" value="sa" />
    <add key="dfUserName" value="sa" />
    <add key="Password" value="cPjNLZA+eHzFgVOT2Eb9WA==" />
    <add key="PDF_Path_Contract" value="K:\SourceCode_Document\Lotus\LicenceLotus\contract\CT" />
    <add key="PDF_Path_Invoice" value="K:\SourceCode_Document\Lotus\LicenceLotus\bill" />
    <!--<add key="Password" value="cPjNLZA+eHzFgVOT2Eb9WA==" />-->
    <add key="SkinName" value="Office 2007 Blue" />
    <add key="DefaultCulture" value="TH" />
    <add key="ConnStringEncFlag" value="1" />
    <add key="EncReq" value="1" />
    <add key="SelectCompanyAtLogin" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>